#main-nav {
  background-color: #96b1bb;
  font-family: "Orbitron", sans-serif;
  margin-bottom: 20px;
}
#contents {
  background-color: #e6e6fa;
  font-family: "Pangolin", cursive;
  font-weight: bold;
}
.my-class {
  border-top: 10px;
}

#my-heading1 {
  margin-top: 8px;
  padding: 10px;
  font-family: "Changa", sans-serif;
}

.my-heading2 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  margin: 5px;
  padding: 10px;
}

.my-row1 {
  margin-top: 25px;
  margin: 5px;
  background-color: #56bde2;
}

.my-row2 {
  margin-top: 25px;
  margin: 5px;
  background-color: #78d4f5;
}

.my-row3 {
  margin-top: 25px;
  margin: 5px;
  background-color: #11befd;
}
